.box {
  transform: translateY(90%);
  margin: auto;
  width: 274px;
  height: 289px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
}
.boxmain {
  transform: translateY(-15%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.cloverimg {
  width: 154.761px;
  height: 157.978px;
  flex-shrink: 0;
}
.text {
  color: #000;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
